body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: black;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
h1{
    text-shadow: white 0px 0px 15px;
}
div#content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
    padding: 45px;
    box-shadow: white 0px 0px 15px;
    border-radius: 15px;
}
div#player{
    text-align: center;
    margin: 10px;
    box-shadow: red 0px 0px 15px;
    padding: 20px;
    border-radius: 15px;
}
div#dealer{
    text-align: center;
    margin: 10px;
    box-shadow: blue 0px 0px 15px;
    padding: 20px;
    border-radius: 15px;
}
button{
    background-color: black;
    color: white;
    box-shadow: white 0 0 15px;
    padding: 10px;
    border-radius: 15px;
    margin: 5px;
}
button:hover{
    background-color: white;
    color: black;
    transition: 0.3s linear 0s;
}
#textHeading{
    text-decoration: underline ;
}