<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="Elliott Wagner (and AI)" />
  <meta name="description" content="Elliott Wagner's website that shows off his IT and Announcing side.">
  <link rel="icon" href="/images/icon.png">
  <link rel="stylesheet" type="text/css" href="/css/programming.css">
  <script src="https://kit.fontawesome.com/dcc0625c67.js" crossorigin="anonymous"></script>
  <title>Programming</title>
</head>
<body>
<nav id="itNav">
  <h1 id="title"><a href="programming.html">Programmer</a></h1>
  <ul>
    <li><a href="overview.html">Overview</a></li>
    <li><a href="strengths-and-weaknesses.html">Strengths and Weaknesses</a></li>
    <li><a href="https://github.com/si1ent-306" target="_blank">GitHub</a></li>
    <li><a href="experiences.html">Experiences</a></li>
    <li><a href="education.html">Education</a></li>
    <li><a href="personal-projects.html">Personal Projects</a></li>
    <li><a href="other.html">Other</a></li>
    <li><a href="/index.html">Back to Home</a></li>
  </ul>
</nav>
<article>
  <h1>Experiences</h1>
  <h3>This page describes my experiences including group projects and more</h3>
  <!--TODO: INDAVISUAL DETAILS -->
  <div class="contentDiv">
    <p>Through my journey in programming, specifically though my schooling, I have had many opportunities to display, hone, and grow my abilities.</p>
    <p>Some of these events and experiences include: </p>
    <ul class="with-dot">
      <li class="with-dot">
        2025 Sask Polytech Hackathon
        <p>This was a coding competition held by Saskatchewan Polytechnic</p>
      </li>
      <li class="with-dot">
        2024/2025 Capstone Project - Sensor
        <p>This was a project assigned to me and my team with our client and a project</p>
      </li>
      <li class="with-dot">
        2024/2025 Capstone Project - Camera
        <p>This was a project assigned to me and my team with our client and a project</p>
      </li>
      <li class="with-dot">
        Hillsdale Baptist Church Tech
        <p>This was a volunteer position at a church that entailed managing a live stream and slides</p>
      </li>
      <li class="with-dot">
        Overall Class Assignments
        <p>These were a variety of assignments tha covered front/backend, web dev, Java, C and more</p>
      </li>
    </ul>
  </div>
</article>
<i class="fa-sharp-duotone fa-solid fa-circle-half-stroke" onclick="myFunction()" id="switchbtn"></i>
<script>
  function myFunction() {
    let element = document.body;
    element.classList.toggle("light");
  }
</script>
</body>
</html>