<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Elliott Wagner (and AI)" />
    <meta name="description" content="Elliott Wagner's website that shows off his IT and Announcing side.">
    <link rel="icon" href="/images/icon.png">
    <link rel="stylesheet" type="text/css" href="/css/programming.css">
    <script src="https://kit.fontawesome.com/dcc0625c67.js" crossorigin="anonymous"></script>
    <title>Programming</title>
</head>
<body>
<nav id="itNav">
    <h1 id="title"><a href="/programming/">Programmer</a></h1>
    <ul>
        <li><a href="/programming/overview">Overview</a></li>
        <li><a href="/programming/strengths-and-weaknesses">Strengths and Weaknesses</a></li>
        <li><a href="https://github.com/si1ent-306" target="_blank">GitHub</a></li>
        <li><a href="/programming/experiences">Experiences</a></li>
        <li><a href="/programming/education">Education</a></li>
        <li><a href="/programming/personal-projects">Personal Projects</a></li>
        <li><a href="/programming/other">Other</a></li>
        <li><a href="../">Back to Home</a></li>
    </ul>
</nav>
<article>
    <h1>Overview</h1>
    <h3>A general explanation of Elliott Wagner as a person</h3>
    <div class="contentDiv">
        <h4>Introduction</h4>
        <p>Hi, my name is Elliott Wagner. Im a 20 y/o who loves sports, computers, and programming.</p>
        <img src="/images/img.png" alt="Elliott Wagner's picture">
        <p>Im from southern Saskatchewan and im looking to get into the world of programming, computers and IT</p>
        <p>I am someone who is hardworking and very eager to learn as much as I can.</p>
        <p>Some of the languages/technologies I have learned and used include: </p>
        <ul>
            <li class="with-dot">Java</li>
            <li class="with-dot">HTML, CSS, JS, NodeJS</li>
            <li class="with-dot">C</li>
            <li class="with-dot">React</li>
            <li class="with-dot">Azure, Entra</li>
            <li class="with-dot">Windows Server/11/10, Ubuntu Desktop/Server</li>
        </ul>
        <p>If you would like to reach out, I do not have social media so email is the best way</p>
        <p><a href="mailto:elliottjwag@hotmail.com">Contact Me</a></p>
    </div>
</article>
<i class="fa-sharp-duotone fa-solid fa-circle-half-stroke" onclick="myFunction()" id="switchbtn"></i>
<script>
    function myFunction() {
        let element = document.body;
        element.classList.toggle("light");
    }
</script>
</body>
</html>