<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Elliott Wagner" />
    <script src="/scripts/scoreboard/games.js"></script>
    <meta name="description" content="Elliott Wagner's website that shows off his IT and Announcing side.">
    <link rel="icon" href="/images/icon.png">
    <link href="/css/scoreboard/game.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/dcc0625c67.js" crossorigin="anonymous"></script>
</head>
<body>
<nav>
    <a href="/scoreboard" >Back to scoreboard</a>
</nav>
<div id="game-info">
    <div id="game-container">
        <div id="game-header">
            <h1 id="game-name"></h1>
        </div>
        <div id="game-scoreboard">

        </div>
        <div id="venue-stuff">
            <h3>Venue Information</h3>
        </div>
    </div>
</div>
</body>
</html>